force-app/main/default/flows/Assign_UnAssign_Working_Pattern_on_Contract_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Working_Pattern</name>
        <label>Assign Working Pattern</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Working_Pattern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Available_Working_Pattern.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UnAssign_Remove_irrelevant_Working_Pattern</name>
        <label>UnAssign / Remove irrelevant Working Pattern</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Working_Pattern__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_assignment_of_working_pattern_is_required</name>
        <label>Check if assignment of working pattern is required</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Ignore the changes</defaultConnectorLabel>
        <rules>
            <name>if_delivery_area_or_contract_type_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Delivery_Area__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contract_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Available_Working_Pattern</targetReference>
            </connector>
            <label>if delivery area or contract type is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Working_Pattern_is_available_for_the_given_combination_of_Area_and_Type</name>
        <label>Check if Working Pattern is available for the given combination of Area and Type</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>UnAssign_Remove_irrelevant_Working_Pattern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_the_matching_working_pattern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Available_Working_Pattern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Working_Pattern</targetReference>
            </connector>
            <label>Found the matching working pattern</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PossibleWorkingPatternName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Delivery_Area__c} +&apos; &apos;+TEXT({!$Record.Contract_Type__c})</expression>
    </formulas>
    <interviewLabel>Assign / UnAssign Working Pattern on Contract Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign / UnAssign Working Pattern on Contract Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Working_Pattern</name>
        <label>Get Available Working Pattern</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Working_Pattern_is_available_for_the_given_combination_of_Area_and_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>PossibleWorkingPatternName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Working_Pattern__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_assignment_of_working_pattern_is_required</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Delivery_Area__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
